{% extends 'student_template/base_template.html'  %}
{% block page_title %}
Manage Applications
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">


           <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Applications Details</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Studies</th>
                      <th>Experience</th>
                      <th>Scholarships</th>
                      <th>Communication</th>
                      <th>Student ID</th>
                      <th>Status</th>
                      <th>Date Created</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for application in applications %}
                    <tr>
                      <td>{{ application.id }}</td>
                      <td>{{ application.studies }}</td>
                      <td>{{ application.experience }}</td>
                      <td>{{ application.scholarships }}</td>
                      <td>{{ application.communication }}</td>
                      <td>{{ application.student_id.id }}</td>
                      <td style="background-color:yellowgreen">{{ application.status }}</td>
                      <td>{{ application.created_at }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

