{% extends 'student_template/base_template.html' %}
{% block page_title %}
Add Application
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Application</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/add_application_save" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Studies</label>
                    <input type="text" class="form-control" placeholder="Enter Studies" name="studies">
                  </div>
                  <div class="form-group">
                    <label>Experience</label>
                    <input type="text" class="form-control" placeholder="Experience" name="experience">
                  </div>
                   <div class="form-group">
                    <label>Scholarships</label>
                    <input type="text" class="form-control" placeholder="Scholarships" name="scholarships">
                  </div>
                   <div class="form-group">
                    <label>Communication</label>
                    <input type="text" class="form-control" placeholder="Communication" name="communication">
                   </div>
                
                  
                      <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Add Application</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

